@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/Layouts.cshtml";
    var category = (DatPQShop.Web.Models.ProductCategoryViewModel)ViewBag.Category;

}
@section productJS{
    <script src="~/Assets/client/js/mustache.min.js"></script>
    <script src="~/Assets/client/js/jquery.twbsPagination.min.js"></script>
    <script src="~/Assets/client/js/productController.js"></script>
}

<div class="women-product">
    <div class="w_content">
        <div class="women">
            <a id="categoryId" data-id="@category.ID" href="/@(category.Alias).pc-@(category.ID).html"><h4>@category.Name<span> sản phẩm</span> </h4></a>
            <ul class="w_nav">
                <li>Sort : </li>
                <li><a class="active" href="#">popular</a></li> |
                <li><a href="#">new </a></li> |
                <li><a href="#">discount</a></li> |
                <li><a href="#">price: Low High </a></li>
                <div class="clearfix"></div>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- grids_of_4 -->
    <div class="grid-product">
        <div id="products"></div>
        <nav>
            <ul id="pagination" class="pagination-sm"></ul>
        </nav>
    </div>
</div>
<script id="data-template" type="x-tmpl-mustache">
    <div class="product-grid">
        <div class="content_box">
            <a href="#"></a>
            <div class="left-grid-view grid-view-left">
                <a href="#">
                    <img class="img-responsive watch-right" alt="{{Name}}" src="{{Image}}">
                    <div class="mask">
                        <div class="info">Xem nhanh</div>
                    </div>
                </a>
            </div>
            <h4><a href="#">{{Name}}</a></h4>
            <p>{{Description}}</p>
            <span class="actual">{{PromotionPrice}}</span>
            <span class="reducedfrom">{{Price}}</span>
        </div>
    </div>
</script>
